@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark|Roboto');

body {
  color: rgb(25,25,112);
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: rgb(255,255,224);
  width: 960px;
  margin: 0 auto;
}

h1,h2,h3 {
  font-family: "Palanquin+Dark", sans-serif;
}

h1 {
  font-size: 40px;
  color: rgb(75,0,130);
}

h2 {
  font-size: 24px;
  color: rgb(75,0,130);
}

a:default {
  color: rgb(233,87,80);
}

a:active {
  color: rgb(242,204,79);
}

a:visited {
  color: rgb(194,84,73);
}

a:hover {
  color: rgb(76,45,120);
}

header {
    position:relative;
    left: 50%;
    color: rgb(100,149,237);
}

header img{
  border-width: 3px;
  border-style: solid;
  border-color: rgb(220,220,220);
}

nav {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}

#education {
  margin-bottom: 30px;
}

#education p {
  margin: 8px;
}

#honors li{
  padding: 5px;
  color: rgb(218,165,32);
}


#research h3{
  color: rgb(112,128,144);
}

#research li {
  margin: 5px;
  color: rgb(160,82,45);
}
