@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark|Roboto');

body {
  color: rgb(25,25,112);
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: rgb(255,255,240);
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
}

h1,h2,h3 {
  font-family: "Palanquin+Dark", sans-serif;
}

h1 {
  font-size: 40px;
  color: rgb(75,0,130);
}

h2 {
  font-size: 30px;
  color: rgb(75,0,130);
}

a:default {
  color: rgb(233,87,80);
}

a:active {
  color: rgb(242,204,79);
}

a:visited {
  color: rgb(194,84,73);
}

a:hover {
  color: rgb(76,45,120);
}

header {
    position:relative;
    left: 40%;
    color: rgb(100,149,237);
}

header img{
  border-width: 3px;
  border-style: solid;
  border-color: rgb(220,220,220);
}

nav {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}

nav ul {
    padding-left: 0;
    margin: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    background-color: rgb(233, 255, 255);
    padding: 5px;
}

#education {
  margin-bottom: 30px;
}

#education h2 {
  margin-bottom: 5px;
}

#education p {
  margin: 8px;
}

#honors {
  margin-bottom: 30px;
}

#honors h2{
  margin-bottom: 5px;
}

#honors ol {
  margin-top: 0;
}

#honors li{
  padding: 5px;
  color: rgb(218,165,32);
}

#research {
  margin-bottom: 30px;
}

#research h2 {
  margin-bottom: 5px;
}

#research h3{
  color: rgb(160,82,45);
  margin-top: 5px;
}

#research li {
  margin: 5px;
  color: rgb(112,128,144);
}

#research a {
  color: rgb(160,82,45);
}

#research a:hover {
  color: rgb(76,45,120);
}

#skills {
  margin-bottom: 60px;
}

#skills ul {
  margin-top: 5px;
}

#skills h2 {
  margin-bottom: 5px;
}

#sk1 {
  float:left;
  margin-right: 20%;
  color: rgb(199,21,133);
}

#sk1 li{
  margin: 5px;
}

#sk2 {
  color: rgb(138,43,226);
}
#sk2 li{
  margin: 5px;
}

#extra-activity h2 {
  margin-bottom: 5px;
}

#extra-activity h3 {
  color: rgb(160,82,45);
  margin-top: 15px;
  margin-bottom: 5px;
}

#extra-activity p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#extra-activity ul {
  margin-top: 5px;
  color: rgb(112,128,144);
}
